<header class="page-content-header">
    <div class="back-btn">
        <a routerLink="/waiter">
            <i class="fas fa-angle-left"></i>
        </a>
    </div>
    <div class="header-title">
        Create an Order
    </div>
</header>
<div class="page-content">
    <div class="stepper-form">
        <div>
            <div class="d-flex justify-content-between label-container">
                <label class="label label-lg d-flex align-items-center">
                    <i class="fas fa-cube"></i>
                    <span class="label-primary">{{roomData.name}}</span>
                </label>
                <label class="label label-lg d-flex align-items-center">
                    <img src="assets/images/table.png" alt="">
                    <span class="label-yellow">{{tableData.name}}</span>
                </label>
            </div>
            <div class="md-form">
                <input class="form-control" type="number" min="0" [(ngModel)]="numberOfPerson" placeholder="No. of Person" />
            </div>
            <div class="text-center">
                <button class="btn btn-success waves-light" (click)="makeOrder()" mdbRippleRadius>Make an Order</button>
            </div>
        </div>        
    </div>
</div>
