.page-content-header{
    padding: 0;
    .back-btn{
        color: #fff;
        a{
            color: #fff;
            font-size: 40px;
            padding: 0px 25px;
            &:hover{
                color: #fff;
            }
        }
    }
    .header-title{
        color: #fff;
        font-size: 20px;
    }
}