<div class="container-fluid change-password-container">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-6">
          <h4 class="card-title">Change Password</h4>
          <!-- <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword(changePasswordForm.value)"> -->
            <div class="alert-danger" *ngIf="changePasswordError">{{changePasswordErrorMsg}}</div>
            <div class="alert-success" *ngIf="changePasswordSuccess">{{changePasswordSuccessMsg}}</div>            
            <div class="md-form">
              <input type="password" id="old-pass" class="form-control" [(ngModel)]="changePasswordData.oldPassword" mdbActive>
              <label for="old-pass">Old Password</label>
            </div>
            <div class="md-form">
              <input type="password" id="new-pass" class="form-control" [(ngModel)]="changePasswordData.newPassword" mdbActive>
              <label for="new-pass">New Password</label>
            </div>
            <div class="md-form">
              <input type="password" id="confirm-pass" class="form-control" [(ngModel)]="changePasswordData.confirmPassword" mdbActive>
              <label for="confirm-pass">Confirm Password</label>
            </div>
            <!-- <small class="text-danger" *ngIf="changePasswordForm.value.oldPassword==changePasswordForm.value.newPassword">Old Password and New Password cannot be same.</small>             -->
            <!-- <small class="text-danger" *ngIf="changePasswordForm.value.newPassword!=changePasswordForm.value.confirmPassword">New Password and Confirm Password must be same.</small> -->
            <div class="text-center">
              <button type="submit" class="btn btn-primary waves-light" [disabled]="activeRequest" mdbRippleRadius (click)="changePassword(changePasswordData)">Submit</button>
            </div>
          <!-- </form> -->
        </div>
      </div>
    </div>
  </div>
</div>
