<div class="text-center" *ngIf="!(orders && orders.length)">No Order Found.</div>
<div *ngIf="orders && orders.length" class="order-list-container">
    <!-- <div *ngIf="orders && orders.length"> -->
    <div class="card order-list" *ngFor="let order of orders">
        <div class="card-body" [class.opacity]="order.status == 3">
            <h4 class="card-title">
                <div>
                    <img src="assets/images/table.png" alt="">
                    <span>{{order.tableName}}/<span class="order-number">N.{{order.orderId}}</span></span>
                </div>
                <!-- <div class="status" [class.bg-red]="order.status == 0" [class.bg-green]="order.status == 2" [class.bg-yellow]="order.status == 4">{{getOrderStatus(order.status)}}</div> -->
            </h4>
            <div class="card-text">
                <p>
                    <i class="fas fa-cube"></i> {{order.room.name}}</p>
                <p>
                    <i class="far fa-clock"></i>
                    <span>{{order.created_at | date:'hh:mm a'}}</span>
                </p>
                <p>
                    <i class="far fa-user"></i> {{order.noOfPeople}}</p>
            </div>
            <div class="step-listing">
                <ul *ngIf="stepdata[order._id]">
                    <li *ngFor="let step of order.step; let i = index;" (click)="selectedTab(step.step,i,order._id)" [class.active]="step.step == stepdata[order._id].step" [class.completed]="showToCall[order._id] && !showToCall[order._id][step.step] || step.step == 'Uscita 1'">{{step.step}}</li>
                </ul>
            </div>
            <div class="order-items-container">
                <div *ngFor="let step of order.step">
                    <div *ngFor="let item of step.itemId">
                        <div class="order-item" *ngIf="stepdata[order._id] && item.step == stepdata[order._id].step">
                            <label class="label item-status">{{getOrderStatus(item.status)}}</label>
                            <div class="order-item-img">
                                {{item.quantity}} X
                            </div>
                            <div class="order-item-detail">
                                {{item.id.name}}
                                <ul>
                                    <li *ngFor="let varient of item.variant">
                                        <i *ngIf="varient.status == 1">+</i>
                                        <i *ngIf="varient.status == 0">-</i> {{varient.name}}
                                    </li>
                                </ul>
                                <ul>
                                    <li>
                                        {{item.notes}}
                                    </li>
                                </ul>
                            </div>
                            <div class="order-quantity d-flex">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="order-call-btn" *ngIf="order.step.length">
            <div *ngFor="let step of order.step; let indx = index;">
                <div *ngIf="stepdata[order._id].step == step.step">
                    <button *ngIf="stepdata[order._id] && stepdata[order._id].step != 'Uscita 1' && showToCall[order._id] && showToCall[order._id][step.step]" type="submit" (click)="changeStep(order, step.step)">Call</button>
                </div>
            </div>
        </div>
    </div>
    <!-- </div> -->
</div>
