<div class="text-center" *ngIf="!(orders && orders.length)">No Order Found.</div>
<div *ngIf="orders && orders.length" class="order-list-container">
    <!-- <div *ngIf="orders && orders.length"> -->
    <div class="card order-list" *ngFor="let order of orders">
        <div class="card-body" [class.opacity]="order.status == 3" [class.disabled]="order.status == 1 || order.status == 3">
            <h4 class="card-title">
                <div>
                    <img src="assets/images/table.png" alt="">
                    <span>{{order.tableName}}</span>
                </div>
                <div class="status" [class.bg-red]="order.status == 0" [class.bg-green]="order.status == 2" [class.bg-yellow]="order.status == 4">{{getOrderStatus(order.status)}}</div>
            </h4>
            <div class="card-text">
                <p>
                    <i class="fas fa-cube"></i> {{order.room.name}}</p>
                <p>
                    <i class="far fa-clock"></i>
                    <span>{{order.created_at | date:'hh:mm a'}}</span>
                </p>
                <p>
                    <i class="far fa-user"></i> {{order.noOfPeople}}</p>
            </div>
            <div class="step-listing">
                <ul>
                    <li *ngFor="let step of steps[order._id]; let i = index;" (click)="selectedTab(steps[order._id][i],i,order._id)" [class.active]="steps[order._id][i] == stepdata[order._id].step">{{step}}</li>
                </ul>
            </div>
            <div class="order-items-container">
                <div *ngFor="let item of order.item">
                    <div class="order-item" *ngIf="item.step == stepdata[order._id].step">
                        <label class="label item-status">{{getOrderStatus(item.status)}}</label>
                        <div class="order-item-img">
                            {{item.quantity}} X
                        </div>
                        <div class="order-item-detail">
                            {{item.id.name}}
                            <ul>
                                <li *ngFor="let varient of item.variant">
                                    <i *ngIf="varient.status == 1">+</i>
                                    <i *ngIf="varient.status == 0">-</i> {{varient.name}}
                                </li>
                            </ul>
                        </div>
                        <div class="order-quantity d-flex">
                            <button type="button" class="btn btn-floting update-order-btn" (click)="updateItem(item, order._id, 1)">
                                <img src="assets/images/order-deliver.png" alt="" />
                            </button>
                            <button type="button" class="btn btn-floting update-order-btn" (click)="updateItem(item, order._id, 3)">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="btn-container d-flex justify-content-between">
                    <button class="btn btn-primary waves-light" mdbRippleRadius (click)="updateOrder(order, 3)">Cancel</button>
                    <button class="btn btn-primary waves-light" mdbRippleRadius (click)="updateOrder(order, 1)">Delivered</button>
                </div> -->
        </div>
        <button type="submit" class="order-call-btn">Call ({{times[order._id]}}:00)</button>
    </div>
    <!-- </div> -->
</div>
