<div class="tabs-container">
    <ul>
        <li *ngFor="let room of roomData; let i= index" [class.active]="activeRoom[i]" (click)="getTables(room,i)">
            {{room.name}}
        </li>
      </ul>
</div>
<section class="room-container">
    <div class="d-flex flex-wrap ">
        <div class="room" (click)="createOrder(table)" *ngFor="let table of tables" [ngStyle]="table.status == 0 ? {'background-color':'#c5c8cd'} : table.status == 1 ? {'background-color':'#add278'} : table.status == 2 ? {'background-color':'yellow'} : {'background-color':''}">
            <div class="table">
                <span>{{table.name}}</span>
            </div>
        </div>
    </div>
</section>
