<header class="page-content-header" *ngIf="stepperForm">
  <div class="back-btn">
      <a (click)="stepperback()">
          <i class="fas fa-angle-left"></i>
      </a>
  </div>
  <div class="header-title">
      Choose Category
  </div>
</header>

<div class="category-list" [class.slideright]="stepperForm" [class.slideleft]="!stepperForm">
  <div class="d-flex justify-content-between flex-wrap ">
      <div class="d-flex align-items-center justify-content-between search-category w-100">
          <ng2-completer [(ngModel)]="searchStr" [datasource]="dataService" [minSearchLength]="0" (selected)="onSelected($event)" placeholder="Search Category"></ng2-completer>
      </div>
      <div class="category" *ngFor="let category of categoryList" [ngStyle]="{'background-color': category.color}" (click)="showItems(category._id,category.name)">
          <img *ngIf="!category.isIcon" [src]="category.logo.small" alt="" />
          <img *ngIf="category.isIcon" [src]="category.icon" alt="" />
          <p class="name">{{category.name}}</p>
      </div>
  </div>
</div>