<header class="page-content-header">
    <div class="back-btn">
        <a routerLink="/waiter/order/:id">
            <i class="fas fa-angle-left"></i>
        </a>
    </div>
    <div class="header-title">
        Choose Category
    </div>
</header>
<div class="page-content">
    <app-steps></app-steps>
    <div class="category-list">
        <div class="d-flex flex-wrap">
            <div class="d-flex align-items-center justify-content-between search-category w-100">
                <!-- <ng2-completer [(ngModel)]="searchStr" [datasource]="dataService" [minSearchLength]="0" (selected)="onSelected($event)" placeholder="Search Category"></ng2-completer> -->
                <div class="md-form search">
                    <i class="fas fa-search prefix"></i>
                    <input class="form-control" [(ngModel)]="searchText" type="text" placeholder="Search Category" />
                </div>
            </div>
            <div class="category" *ngFor="let category of categoryList | filter : searchText" [ngStyle]="{'background-color': category.color}"
                (click)="showItems(category)">
                <img *ngIf="!category.isIcon" [src]="category.logo.small" alt="" />
                <img class="icon-img" *ngIf="category.isIcon" [src]="category.icon" alt="" />
                <p class="name">{{category.name}}</p>
            </div>
        </div>
    </div>
</div>
