<div class="tabs-container">
    <ul>
        <li [class.active]="activetab == 1" (click)="changeTab(1)">
            All
        </li>
        <li [class.active]="activetab == 2" (click)="changeTab(2)">
            To Call 
        </li>
        <li [class.active]="activetab == 3" (click)="changeTab(3)">
            Delivered
        </li>
      </ul>
</div>
<div class="text-center" *ngIf="!(orders && orders.length)">No Order Found.</div>
<div *ngIf="orders && orders.length" class="order-list-container container-fluid">
    <div class="row">
        <div class="col-sm-6 col-md-3" *ngFor="let order of orders">
            <div class="card order-list">
                <div class="card-body" [class.opacity]="order.status == 3">
                    <h4 class="card-title" *ngIf="stepdata[order._id]">
                        <div>
                            <img src="assets/images/table.png" alt="">
                            <span>{{order.tableName}}/
                                <span class="order-number">N.{{order.orderId}}</span>
                            </span>
                        </div>
                        <div *ngFor="let step of order.step">
                            <span class="status bg-red" *ngIf="stepdata[order._id] && step.step == stepdata[order._id].step">New Order X{{step.preparationTime}}</span>
                        </div>
                    </h4>
                    <div class="card-text">
                        <p>
                            <i class="fas fa-cube"></i> {{order.room.name}}</p>
                        <p>
                            <i class="far fa-clock"></i> {{order.created_at | date:'hh:mm a'}}</p>
                        <p>
                            <i class="far fa-user"></i> {{order.noOfPeople}}</p>
                    </div>
                    <div class="step-listing">
                        <ul *ngIf="stepdata[order._id]">
                            <li *ngFor="let step of order.step; let i = index;" (click)="selectedTab(step.step,i,order._id)" [class.active]="step.step == stepdata[order._id].step"
                                [class.completed]="itemStatusDelivered[order._id] && itemStatusDelivered[order._id][step.step]">{{step.step}}</li>
                        </ul>
                    </div>
                    <div class="order-items-container">
                        <div *ngFor="let step of order.step; let i= index">
                            <div *ngFor="let item of step.itemId">
                                <div class="order-item" *ngIf="stepdata[order._id] && item.step == stepdata[order._id].step">
                                    <!-- <label class="label item-status">{{getOrderStatus(item.status)}}</label> -->
                                    <div class="order-item-img">
                                        {{item.quantity}} X
                                    </div>
                                    <div class="order-item-detail">
                                        {{item.id.name}}
                                        <ul>
                                            <li *ngFor="let varient of item.variant">
                                                <i *ngIf="varient.status == 1">+</i>
                                                <i *ngIf="varient.status == 0">-</i> {{varient.name}}
                                            </li>
                                        </ul>
                                        <ul>
                                            <li>
                                                {{item.notes}}
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="order-quantity d-flex w-105">
                                        <button type="button" class="btn btn-floting update-order-btn" *ngIf="(step.step == 'Uscita 1')" (click)="updateItem(item, order._id, 2)">
                                            <img src="assets/images/order-deliver.png" alt="" />
                                        </button>
                                        <button type="button" class="btn btn-floting update-order-btn" *ngIf="(step.step != 'Uscita 1') && itemStatusDelivered[order._id] && !itemStatusDelivered[order._id][step.step] && stepdata[order._id] && (order.stepStatus == step.step)" (click)="updateItem(item, order._id, 2)">
                                            <img src="assets/images/order-deliver.png" alt="" />
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="order-call-btn" *ngIf="order.step.length">
                    <div *ngFor="let step of order.step">
                        <div *ngIf="stepdata[order._id].step == step.step">
                            <div class="department-checkbtn-container">
                                <span *ngFor="let department of step.department">
                                    <span class="department-checkbtn" *ngIf="(step.step == 'Uscita 1') && (authGuard.getCurrentUser()._id == department.id._id) && itemStatusDelivered[order._id] && !itemStatusDelivered[order._id][step.step]"
                                        [class.bg-grey]="department.status == 0" [class.bg-green]="department.status == 1" (click)="updateDepartmentStatus(department,order,step.step)">
                                        <i class="fas fa-check-circle"></i>
                                    </span>
                                    <span class="department-checkbtn" *ngIf="(step.step != 'Uscita 1') && stepdata[order._id] && (order.stepStatus == step.step) && (authGuard.getCurrentUserId() == department.id._id) && itemStatusDelivered[order._id] && !itemStatusDelivered[order._id][step.step]"
                                        [class.bg-grey]="department.status == 0" [class.bg-green]="department.status == 1" (click)="updateDepartmentStatus(department,order,step.step)">
                                        <i class="fas fa-check-circle"></i>
                                    </span>
                                    <span class="department-name" [class.bg-grey]="department.status == 0" [class.bg-green]="department.status == 1">{{getFirstChar(department.id.firstName)}}</span>
                                </span>
                            </div>
                            <button type="submit" *ngIf="stepdata[order._id] && (step.step == 'Uscita 1') && itemStatusDelivered[order._id] && !itemStatusDelivered[order._id][step.step]"
                            (click)="updateStepItem(step, order)">Delivered</button>
                            <button type="submit" *ngIf="(step.step != 'Uscita 1') && stepdata[order._id] && (order.stepStatus == step.step) && itemStatusDelivered[order._id] && !itemStatusDelivered[order._id][step.step]"
                            (click)="updateStepItem(step, order)">Delivered</button>
                            <button class="bg-yellow" *ngIf="(step.step != 'Uscita 1') && itemStatusDelivered[order._id] && !itemStatusDelivered[order._id][step.step] && stepdata[order._id] && (order.stepStatus != step.step)"
                                type="submit" [disabled]="true">To Call</button>
                        </div>

                        <!-- Modal -->

                        <div class="modal fade modal-sm" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title" id="exampleModalLabel">Confirm Deliver</h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="updateStepItem(step, order)">Confirm</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
