.tabs-container{
    position: fixed;
    top: 50px;
    width: 100%;
}

.order-list-container{
    margin-top: 50px;
    overflow-y: auto;
    height: calc(100vh - 103px);
    .row{
        flex-wrap: nowrap !important;
        margin: 0;
    }
}

.order-card{
    max-width: 327px;
    margin-right: 10px;
    width: 100%;    
    min-width: 320px;
    .card-body{
        padding-bottom: 0  !important;
        .step-listing {
            background-color: #fff  !important;
        }
    }
}