<div class="text-center" *ngIf="!(orders && orders.length)">No Order Found.</div>
<div *ngIf="orders && orders.length" class="order-list-container container-fluid">
    <div class="row">
        <div class="col-sm-6 col-md-3"  *ngFor="let order of orders">

            <div class="card order-list">
        <div class="card-body" [class.opacity]="order.status == 3">
            <h4 class="card-title">
                <div>
                        <img src="assets/images/table.png" alt="">
                        <span>{{order.tableName}}</span>
                    </div>
                <div class="status" [class.bg-red]="order.status == 0" [class.bg-green]="order.status == 2" [class.bg-yellow]="order.status == 4">{{getOrderStatus(order.status)}}</div>
            </h4>
            <div class="card-text">
                <p>
                    <i class="fas fa-cube"></i> {{order.room.name}}</p>
                <p>
                        <i class="far fa-clock"></i> {{order.created_at | date:'hh:mm a'}}
                    
                </p>
                <p>
                    <i class="far fa-user"></i> {{order.noOfPeople}}</p>
            </div>
            <div class="step-listing">
                <ul *ngIf="stepdata[order._id]">
                    <li *ngFor="let step of order.step; let i = index;" (click)="selectedTab(step.step,i,order._id)" [class.active]="step.step == stepdata[order._id].step" [class.completed]="itemStatusDelivered[order._id] && itemStatusDelivered[order._id][stepdata[order._id].step]">{{step.step}}</li>
                </ul>
            </div>
            <div class="order-items-container">
                <!-- <div *ngFor="let step of order.step; let i= index"> -->
                    <!-- <p (click)="selectedTab(step,i,order._id)" [class.active]="step.step == stepdata[order._id].step" [class.completed]="itemStatusDelivered[order._id] && itemStatusDelivered[order._id][stepdata[order._id].step]">{{step.step}}</p> -->
                    <div *ngFor="let item of itemsArray[order._id]">
                            <div class="order-item">
                                <label class="label item-status">{{getOrderStatus(item.status)}}</label>
                                <div class="order-item-img">
                                    {{item.quantity}} X
                                </div>
                                <div class="order-item-detail">
                                    {{item.id.name}}
                                    <ul>
                                        <li *ngFor="let varient of item.variant">
                                            <i *ngIf="varient.status == 1">+</i>
                                            <i *ngIf="varient.status == 0">-</i> {{varient.name}}
                                        </li>
                                    </ul>
                                    <ul>
                                        <li>
                                            {{item.notes}}
                                        </li>
                                    </ul>
                                </div>
                                <div class="order-quantity d-flex w-105">
                                    <button type="button" class="btn btn-floting update-order-btn" (click)="updateItem(item, order._id, 2)">
                                        <img src="assets/images/order-deliver.png" alt="" />
                                    </button>
                                </div>
                            </div>
                    </div>
                <!-- </div> -->
            </div>
        </div>
        <div class="order-call-btn" *ngIf="order.step.length">
            <div *ngFor="let step of order.step; let indx = index;">
                <!-- <div *ngIf="stepdata[order._id].step == step.step">
                    <button type="submit" *ngIf="stepdata[order._id] && (order.stepStatus == stepdata[order._id].step) && (step.status != 4) && (step.status != 5) && (step.status != 1)" (click)="updateStepItem(step,indx, order, times[order._id][stepdata[order._id].step], 4)">Start ({{times[order._id][stepdata[order._id].step]}}:00)</button>                    
                    <button type="submit" *ngIf="step.status == 0 && (step.step == 'Uscita 1')" (click)="updateStepItem(step,indx, order, times[order._id][stepdata[order._id].step], 4)">Start ({{times[order._id][stepdata[order._id].step]}}:00)</button>
                    <div class="running-label" *ngIf="stepdata[order._id] && (step.step == stepdata[order._id].step) && (step.status == 4)"  (click)="updateStepItem(step,indx, order, times[order._id][stepdata[order._id].step], 5)"><span class="running">Running {{remainingTime[order._id][stepdata[order._id].step]}}</span></div>
                    <button *ngIf="stepdata[order._id] && (step.step == stepdata[order._id].step) && (step.status == 5)" type="submit" (click)="updateStepItem(step,indx, order, times[order._id][stepdata[order._id].step], 1)">Completed</button>
                    <div *ngIf="stepdata[order._id] && (step.step == stepdata[order._id].step) && (step.status == 4)" id="{{step.step.replace(' ','')+order._id+indx}}" [ngStyle]="{'width': barWidth[step.step.replace(' ','')+order._id+indx]}" class="progress-btn"  (click)="updateStepItem(step,indx, order, times[order._id][stepdata[order._id].step], 5)"></div>
                    <button class="bg-yellow" *ngIf="stepdata[order._id] && (step.step != 'Uscita 1') && (step.status == 0) && (order.stepStatus != stepdata[order._id].step)" type="submit" [disabled]="true">To Call ({{times[order._id][stepdata[order._id].step]}}:00)</button>
                </div> -->
                <div *ngIf="stepdata[order._id].step == step.step">
                    <button type="submit" *ngIf="stepdata[order._id] && (order.stepStatus == stepdata[order._id].step) && itemStatusStart[order._id] && itemStatusStart[order._id][stepdata[order._id].step]" (click)="updateStepItem(step,indx, order, times[order._id][stepdata[order._id].step], 4)">Start ({{times[order._id][stepdata[order._id].step]}}:00)</button>                    
                    <button type="submit" *ngIf="itemStatusStart[order._id] && itemStatusStart[order._id][stepdata[order._id].step] && (step.step == 'Uscita 1')" (click)="updateStepItem(step,indx, order, times[order._id][stepdata[order._id].step], 4)">Start ({{times[order._id][stepdata[order._id].step]}}:00)</button>
                    <div class="running-label" *ngIf="stepdata[order._id] && (step.step == stepdata[order._id].step) && (step.status == 4) && itemStatusStart[order._id] && !itemStatusStart[order._id][stepdata[order._id].step]"  (click)="updateStepItem(step,indx, order, times[order._id][stepdata[order._id].step], 5)"><span class="running">Running {{remainingTime[order._id][stepdata[order._id].step]}}</span></div>
                    <button *ngIf="stepdata[order._id] && (step.step == stepdata[order._id].step) && (step.status == 5) && itemStatusStart[order._id] && !itemStatusStart[order._id][stepdata[order._id].step]" type="submit" (click)="updateStepItem(step,indx, order, times[order._id][stepdata[order._id].step], 1)">Completed</button>
                    <div *ngIf="stepdata[order._id] && (step.step == stepdata[order._id].step) && (step.status == 4) && itemStatusStart[order._id] && !itemStatusStart[order._id][stepdata[order._id].step]" id="{{step.step.replace(' ','')+order._id+indx}}" [ngStyle]="{'width': barWidth[step.step.replace(' ','')+order._id+indx]}" class="progress-btn"  (click)="updateStepItem(step,indx, order, times[order._id][stepdata[order._id].step], 5)"></div>
                    <button class="bg-yellow" *ngIf="stepdata[order._id] && (step.step != 'Uscita 1') && (step.status == 0) && (order.stepStatus != stepdata[order._id].step)" type="submit" [disabled]="true">To Call ({{times[order._id][stepdata[order._id].step]}}:00)</button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>