<!-- <div> -->
<div class="text-center" *ngIf="!(orders && orders.length)">No Order Found.</div>
<div *ngIf="orders && orders.length" class="order-list-container container-fluid">
    <div class="row">
        <div class="col-sm-6 col-md-3"  *ngFor="let order of orders">

            <div class="card order-list">
        <div class="card-body" [class.opacity]="order.status == 3">
            <h4 class="card-title">
                <div>
                        <img src="assets/images/table.png" alt="">
                        <span>{{order.tableName}}</span>
                    </div>
                <div class="status" [class.bg-red]="order.status == 0" [class.bg-green]="order.status == 2" [class.bg-yellow]="order.status == 4">{{getOrderStatus(order.status)}}</div>
            </h4>
            <div class="card-text">
                <p>
                    <i class="fas fa-cube"></i> {{order.room.name}}</p>
                <p>
                        <i class="far fa-clock"></i> {{order.created_at | date:'hh:mm a'}}
                    
                </p>
                <p>
                    <i class="far fa-user"></i> {{order.noOfPeople}}</p>
            </div>
            <div class="step-listing">
                <ul *ngIf="stepdata[order._id]">
                    <li *ngFor="let step of order.step; let i = index;" (click)="selectedTab(step.step,i,order._id)" [class.active]="step.step == stepdata[order._id].step" [class.completed]="step.status == 1">{{step.step}}</li>
                </ul>
            </div>
            <div class="order-items-container">
                <div *ngFor="let item of order.item">
                    <div *ngIf="((item.department.indexOf(authGuard.getCurrentUser()._id)) > -1) || ((authGuard.getCurrentUser().category.indexOf(item.category)) > -1)">
                        <div class="order-item" *ngIf="stepdata[order._id] && item.step == stepdata[order._id].step">
                            <label class="label item-status">{{getOrderStatus(item.status)}}</label>
                            <div class="order-item-img">
                                {{item.quantity}} X
                            </div>
                            <div class="order-item-detail">
                                {{item.id.name}}
                                <ul>
                                    <li *ngFor="let varient of item.variant">
                                        <i *ngIf="varient.status == 1">+</i>
                                        <i *ngIf="varient.status == 0">-</i> {{varient.name}}
                                    </li>
                                </ul>
                                <ul>
                                    <li>
                                        {{item.notes}}
                                    </li>
                                </ul>
                            </div>
                            <div class="order-quantity d-flex w-105">
                                <button type="button" class="btn btn-floting update-order-btn" (click)="updateItem(item, order._id, 2)">
                                    <img src="assets/images/order-deliver.png" alt="" />
                                </button>
                                <!-- <button type="button" class="btn btn-floting update-order-btn" (click)="updateItem(item, order._id, 4)">
                                    <i class="fas fa-sync-alt"></i>
                                </button>
                                <button type="button" class="btn btn-floting update-order-btn" (click)="updateItem(item, order._id, 3)">
                                    <i class="fas fa-times"></i>
                                </button> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="btn-container">
                <button class="btn btn-primary waves-light" mdbRippleRadius (click)="updateOrder(order, 3)">Cancel</button>
                <button class="btn btn-primary waves-light" mdbRippleRadius (click)="updateOrder(order, 4)">In Progress</button>
                <button class="btn btn-primary waves-light" mdbRippleRadius (click)="updateOrder(order, 2)">Done</button>
            </div> -->
        </div>
        <!-- <div class="order-call-btn">
            <button *ngIf="stepdata[order._id] && !showToCall[order._id][stepdata[order._id].step] && !showDeliveredButton[order._id][stepdata[order._id].step]" type="submit" (click)="updateStepItem(order, times[order._id][stepdata[order._id].step], 4)" [disabled]="order.status == 4"><span *ngIf="order.status == 0">Start ({{times[order._id][stepdata[order._id].step]}}:00)</span><span *ngIf="order.status == 4">Running {{remainingTime[order._id][stepdata[order._id].step]}}</span></button>
            <button *ngIf="stepdata[order._id] && !showToCall[order._id][stepdata[order._id].step] && showDeliveredButton[order._id][stepdata[order._id].step]" type="submit" (click)="updateStepItem(order, times[order._id][stepdata[order._id].step], 1)">Delivered</button>
            <div *ngIf="stepdata[order._id] && !showToCall[order._id][stepdata[order._id].step] && !showDeliveredButton[order._id][stepdata[order._id].step]" id="{{order._id}}_{{stepdata[order._id].step}}" class="progress-btn"></div>
            <button *ngIf="stepdata[order._id] && showToCall[order._id][stepdata[order._id].step] && !showDeliveredButton[order._id][stepdata[order._id].step]" type="submit" [disabled]="true">To Call ({{times[order._id][stepdata[order._id].step]}}:00)</button>
        </div> -->
        <div class="order-call-btn" *ngIf="order.step.length">
            <div *ngFor="let step of order.step; let indx = index;">
                <div *ngIf="stepdata[order._id].step == step.step">
                    <button type="submit" *ngIf="stepdata[order._id] && (order.stepStatus == stepdata[order._id].step) && (step.status != 4) && (step.status != 5) && (step.status != 1)" (click)="updateStepItem(step,indx, order, times[order._id][stepdata[order._id].step], 4)">Start ({{times[order._id][stepdata[order._id].step]}}:00)</button>                    
                    <button type="submit" *ngIf="step.status == 0 && (step.step == 'Uscita 1')" (click)="updateStepItem(step,indx, order, times[order._id][stepdata[order._id].step], 4)">Start ({{times[order._id][stepdata[order._id].step]}}:00)</button>
                    <div class="running-label" *ngIf="stepdata[order._id] && (step.step == stepdata[order._id].step) && (step.status == 4)"  (click)="updateStepItem(step,indx, order, times[order._id][stepdata[order._id].step], 1)"><span class="running">Running {{remainingTime[order._id][stepdata[order._id].step]}}</span></div>
                    <button *ngIf="stepdata[order._id] && (step.step == stepdata[order._id].step) && (step.status == 5)" type="submit" (click)="updateStepItem(step,indx, order, times[order._id][stepdata[order._id].step], 1)">Completed</button>
                    <div *ngIf="stepdata[order._id] && (step.step == stepdata[order._id].step) && (step.status == 4)" id="{{step.step.replace(' ','')+order._id+indx}}" [ngStyle]="{'width': barWidth[step.step.replace(' ','')+order._id+indx]}" class="progress-btn"  (click)="updateStepItem(step,indx, order, times[order._id][stepdata[order._id].step], 1)"></div>
                    <button class="bg-yellow" *ngIf="stepdata[order._id] && (step.step != 'Uscita 1') && (step.status == 0) && (order.stepStatus != stepdata[order._id].step)" type="submit" [disabled]="true">To Call ({{times[order._id][stepdata[order._id].step]}}:00)</button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<!-- </div> -->


<!-- <div class="text-center" *ngIf="!(orders && orders.length)">No Order Found.</div>
<div *ngIf="orders && orders.length" class="order-list-container">
    <div class="card order-list" *ngFor="let order of orders | orderby: '-created_at'">
        <div class="card-body" [class.opacity]="order.status == 3">
            <h4 class="card-title">
                <div>
                    <i class="far fa-clock"></i> {{order.created_at | date:'hh:mm a'}}</div>
                <div class="status" [class.bg-red]="order.status == 0" [class.bg-green]="order.status == 2" [class.bg-yellow]="order.status == 4">{{getOrderStatus(order.status)}}</div>
            </h4>
            <div class="card-text">
                <p>
                    <i class="fas fa-cube"></i> {{order.room.name}}</p>
                <p>
                    <img src="assets/images/table.png" alt="">
                    <span>{{order.tableName}}</span>
                </p>
                <p>
                    <i class="far fa-user"></i> {{order.noOfPeople}}</p>
            </div> -->
            <!-- <div class="step-listing">
                <ul>
                    <li *ngFor="let step of order.step; let i = index;" (click)="selectedTab(step,i,order)" [class.active]="step.active" [class.completed]="step.status == 1">{{step.step}}</li>
                </ul>
            </div> -->
            <!-- <div class="order-items-container" *ngFor="let step of order.step; let i = index;">
                <div class="step-listing">
                    <ul>
                        <li (click)="selectedTab(step,i,order)" [class.active]="step.active" [class.completed]="step.status == 1">{{step.step}}</li>
                    </ul>
                </div>
                <div *ngFor="let item of order.item">
                    <div *ngIf="((item.department.indexOf(authGuard.getCurrentUser()._id)) > -1) || ((authGuard.getCurrentUser().category.indexOf(item.category)) > -1)">
                        <div class="order-item" *ngIf="item.step == step.step">
                            <label class="label item-status">{{getOrderStatus(item.status)}}</label>
                            <div class="order-item-img">
                                {{item.quantity}} X
                            </div>
                            <div class="order-item-detail">
                                {{item.id.name}}
                                <ul>
                                    <li *ngFor="let varient of item.variant">
                                        <i *ngIf="varient.status == 1">+</i>
                                        <i *ngIf="varient.status == 0">-</i> {{varient.name}}
                                    </li>
                                </ul>
                            </div>
                            <div class="order-quantity d-flex w-105">
                                <button type="button" class="btn btn-floting update-order-btn" (click)="updateItem(step.step,item, order._id, 2)">
                                    <img src="assets/images/order-deliver.png" alt="" />
                                </button>
                                <button type="button" class="btn btn-floting update-order-btn" (click)="updateItem(step.step,item, order._id, 4)">
                                    <i class="fas fa-sync-alt"></i>
                                </button>
                                <button type="button" class="btn btn-floting update-order-btn" (click)="updateItem(step.step,item, order._id, 3)">
                                    <i class="fas fa-times"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="order-call-btn" *ngIf="order.step.length">
            <div *ngFor="let step of order.step; let indx = index;">
                <div *ngIf="step.active">
                    <button type="submit" *ngIf="step.status == 0" (click)="updateStepItem(step.step,indx, order, times[order._id][step.step], 4)">Start ({{times[order._id][step.step]}}:00)</button>
                    <div class="running-label" *ngIf="step.active && (step.status == 4)"><span class="running">Running {{remainingTime[order._id][step.step]}}</span></div>
                    <button *ngIf="step.active && (step.status == 5)" type="submit" (click)="updateStepItem(step.step,indx, order, times[order._id][step.step], 1)">Completed</button>
                    <div *ngIf="step.active && (step.status == 4)" id="{{step.step.replace(' ','')+order._id+indx}}" [ngStyle]="{'width': barWidth[step.step.replace(' ','')+order._id+indx]}" class="progress-btn"></div>
                    <button class="bg-yellow" *ngIf="step.active && (step.status == 1)" type="submit" [disabled]="true">To Call ({{times[order._id][step.step]}}:00)</button>
                </div>
            </div>
        </div>
    </div>
</div>
 -->
