<div class="stepper-form">
    <div [class.slideleft]="stepperForm" [class.slideright]="!stepperForm">
        <div class="d-flex justify-content-between label-container">
            <label class="label label-lg d-flex align-items-center">
                <i class="fas fa-cube"></i>
                <span class="label-primary">{{roomData.name}}</span>
            </label>
            <label class="label label-lg d-flex align-items-center">
                <img src="assets/images/table.png" alt="">
                <span class="label-yellow" >{{tableData.name}}</span>
            </label>
        </div>
        <div class="md-form">
            <input class="form-control" type="number" min="0" [(ngModel)]="numberOfPerson" placeholder="No. of Person" />
        </div>
        <div class="text-center">
            <button class="btn btn-success waves-light" (click)="stepper()" mdbRippleRadius>Make an Order</button>
        </div>
    </div>
    <div class="category-list" [class.slideright]="stepperForm" [class.slideleft]="!stepperForm">
        <div class="d-flex justify-content-between flex-wrap ">
            <div class="d-flex align-items-center justify-content-between search-category w-100">
                <input class="form-control" type="text" placeholder="Search Category" />
                <button class="btn btn-default waves-light" (click)="stepperback()" mdbRippleRadius>
                    <i class="fas fa-angle-left"></i>
                </button>
            </div>
            <div class="category" (click)="showItems()">
                <img src="assets/images/drinks.jpg" alt="" />
                <p class="name">Category Name</p>
            </div>
            <div class="category" (click)="showItems()">
                <img src="assets/images/drinks.jpg" alt="" />
                <p class="name">Category Name</p>
            </div>
        </div>
    </div>
    <div class="item-container" [class.showitems]="showItem">
        <div class="d-flex align-items-center justify-content-between search-category w-100">
            <input class="form-control" type="text" placeholder="Search Category" />
            <button class="btn btn-default waves-light" (click)="hideItem()" mdbRippleRadius>
                    <i class="far fa-times-circle"></i>
            </button>
        </div>        
        <div class="item-list align-items-center">
            <div class="item">
                <img src="assets/images/lunch.jpg" alt="" />
                <p class="name">Item Name</p>
            </div>
            <div class="input-prepend-append">
                <button type="button" class="btn btn-prepend btn-danger" id="decrease" (click)="decreaseValue()" value="Decrease Value"> - </button>
                <input type="number" [(ngModel)]="quantity" id="number">
                <button type="button" class="btn btn-append btn-success" id="increase" (click)="increaseValue()" value="Increase Value"> + </button>
            </div>
            <button type="submit" class="btn btn-brown add-cart"><i class="fas fa-cart-plus"></i></button>
        </div>
        <!-- <div class="text-center">
        <button class="btn btn-default waves-light" (click)="stepper(2)" mdbRippleRadius>Back</button>
        <button class="btn btn-default waves-light" (click)="makeOrder()" mdbRippleRadius>Submit</button>
    </div> -->
    </div>
</div>
