
$navLink :  #4e493e;
$primary : #fcab00;
$primary-light: tint($primary, 30%);
$primary-dark: shade($primary, 15%);
$secondary : #4b473f;
$secondary-light: tint($secondary, 30%);
$secondary-dark: shade($secondary, 15%);