<header class="page-content-header">
    <div class="back-btn">
        <a *ngIf="!orderId" routerLink="/waiter/order/:id/choose-item">
            <i class="fas fa-angle-left"></i>
        </a>
        <a *ngIf="orderId" routerLink="/waiter/">
            <i class="fas fa-angle-left"></i>
        </a>
    </div>
    <div class="header-title">
        Create Order
    </div>
</header>
<div class="page-content">
    <app-steps></app-steps>
    <div class="item-container">
        <!-- <div class="text-center" *ngIf="!(items && items.length)">No Item Added</div> -->
        <div class="text-center" *ngIf="!orderId && !(orderService.getOrderData().selectedItems)">No Item Added</div>
        <div *ngIf="(orderId && orderItems && orderItems.length)" class="border-bottom">
            <div *ngFor="let article of orderItems">
                <div class="item-list align-items-center" *ngIf="article.step == globalService.getTabData().step">
                    <div class="item" [ngStyle]="{'background-color': article.id.category.color}">
                        <img *ngIf="!article.id.logo.small && article.id.category.isIcon" class="icon-img" [src]="article.id.category.icon" alt=""
                        />
                        <img *ngIf="!article.id.logo.small && !article.id.category.isIcon && article.id.category.logo.small" [src]="article.id.category.logo.small"
                            alt="Category Logo" />
                        <img *ngIf="article.id.logo.small" [src]="article.id.logo.small" alt="Item Logo" />
                        <span class="item-quantity" *ngIf="article.quantity>0">{{article.quantity}}</span>
                    </div>
                    <div class="item-name">
                        <p class="name m-0">{{article.id.name}}</p>
                        <p class="name m-0">&euro;{{article.price}}</p>
                        <span *ngIf="article.variant && article.variant.length">
                            <span *ngFor="let variant of article.variant" class="d-flex added-variand-name">
                                <span *ngIf="variant.status == 0">- {{variant.name}} </span>
                                <span *ngIf="variant.status == 1">+ {{variant.name}} &euro;{{variant.price}}</span>
                            </span>
                        </span>
                        <span *ngIf="article.notes" class="d-flex added-variand-name">{{article.notes}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="(orderService.getOrderData().selectedItems)">
            <div *ngFor="let article of orderService.getOrderData().selectedItems[globalService.getTabData().step]">
                <div class="item-list align-items-center" *ngIf="article.step == globalService.getTabData().step">
                    <div class="item" [ngStyle]="{'background-color': article.category.color}">
                        <img *ngIf="!article.logo.small && article.category.isIcon" class="icon-img" [src]="article.category.icon" alt="" />
                        <img *ngIf="!article.logo.small && !article.category.isIcon && article.category.logo.small" [src]="article.category.logo.small"
                            alt="Category Logo" />
                        <img *ngIf="article.logo.small" [src]="article.logo.small" alt="Item Logo" />
                        <span class="item-quantity" *ngIf="article.quantity>0">{{article.quantity}}</span>
                    </div>
                    <div class="item-name">
                        <p class="name m-0">{{article.name}}</p>
                        <p class="name m-0">&euro;{{article.price}}</p>
                        <span *ngIf="article.variant && article.variant.length">
                            <span *ngFor="let variant of article.variant" class="d-flex added-variand-name">
                                <span *ngIf="variant.status == 0">- {{variant.name}} </span>
                                <span *ngIf="variant.status == 1">+ {{variant.name}} &euro;{{variant.price}}</span>
                            </span>
                        </span>
                        <span *ngIf="article.ordernote" class="d-flex added-variand-name">{{article.ordernote}}</span>
                    </div>
                    <button type="submit" class="btn btn-floating waves-light" (click)="deleteItemFromCart(article)">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="cart-bottom-fixed">
            <div class="total-amount">
                Sub Total: &euro;{{orderService.getOrderData().cartTotalPrice}}
            </div>
            <div *ngIf="orderId" class="cart-menu-btn">
                <button type="button" class="btn btn-default" (click)="gotToCategoryList()">
                    Menu
                </button>
            </div>
            <button type="submit" class="order-btn waves-light" [disabled]="!orderService.getOrderData().selectedItems" (click)="createOrder()">
                Create Order
            </button>
        </div>
    </div>
</div>
