<div class="sidebar" [class.sidebartoggle]="appService.sidebarToggle">
    <div class="sidebar-user-detail">
        <img *ngIf="!authGuard.getCurrentUser().picture.small" src="assets/images/profile-placeholder.jpg" alt="" />
        <img *ngIf="authGuard.getCurrentUser().picture.small" [src]="authGuard.getCurrentUser().picture.small" alt="" />        
        <p>{{authGuard.getCurrentUser().firstName}}
            <span *ngIf="authGuard.getCurrentUser().lastName">&nbsp;{{authGuard.getCurrentUser().lastName}}</span>
        </p>
    </div>
    <div class="sidebar-nav">
        <ul>
            <li>
                <a class="waves-effect" *ngIf="authGuard.getCurrentUser().userType == 3" mdbRippleRadius (click)="hideSidebar()" routerLink="/waiter">
                    <i class="fas fa-tachometer-alt"></i> Home</a>
            </li>
            <li>
                <a class="waves-effect" *ngIf="authGuard.getCurrentUser().userType == 3" mdbRippleRadius (click)="hideSidebar()" routerLink="/waiter/list">
                    <i class="fas fa-tags"></i> Order List</a>
            </li>
            <li>
                <a class="waves-effect" *ngIf="authGuard.getCurrentUser().userType == 3" mdbRippleRadius (click)="hideSidebar()" routerLink="/waiter/profile">
                    <i class="far fa-user"></i> Profile</a>
                <a class="waves-effect" *ngIf="authGuard.getCurrentUser().userType == 4" mdbRippleRadius (click)="hideSidebar()" routerLink="/department/profile">
                    <i class="far fa-user"></i> Profile</a>
            </li>
            <li *ngIf="authGuard.getCurrentUser().userType == 4">
                <a class="waves-effect" mdbRippleRadius (click)="hideSidebar()" routerLink="/department">
                    <i class="fas fa-cart-plus"></i> Orders</a>
            </li>
            <li>
                <a class="waves-effect" *ngIf="authGuard.getCurrentUser().userType == 3" mdbRippleRadius (click)="hideSidebar()" routerLink="/waiter/change-password">
                    <i class="fas fa-cog"></i> Change Password</a>
                <a class="waves-effect" *ngIf="authGuard.getCurrentUser().userType == 4" mdbRippleRadius (click)="hideSidebar()" routerLink="/department/change-password">
                    <i class="fas fa-cog"></i> Change Password</a>
            </li>
            <li>
                <a class="waves-effect" mdbRippleRadius (click)="appService.logout()">
                    <i class="fas fa-power-off"></i> Logout</a>
            </li>
        </ul>
    </div>
</div>
