// RESPONSIVE

$phone: '(max-width: 480px)';
$phone-md: '(max-width: 575px)';
$phone-md-min: '(min-width: 575px)';
$tablet-portrait: '(max-width: 767px)';
$tablet-landscape: '(min-width: 768px) and (max-width: 991px)';
$desktop-sm: '(min-width: 992px) and (max-width: 1253px)';
$desktop: '(min-width: 1200px) and (max-width: 1600px)';
$large-desktop: '(min-width: 1200px)';
@mixin respond-to($media) {
    @media only screen and #{$media} {
        @content;
    }
}