@import 'mixin';
@import 'variable';
@import './theme/theme1';
// Default
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

.w-105 {
    width: 105px !important;
}

.mw-160 {
    max-width: 160px !important;
}

.pointer-none {
    pointer-events: none;
    cursor: not-allowed;
}

.update-order-btn {
    min-width: 30px;
    padding: 0;
    border-radius: 50%;
    height: 30px;
    background-color: $primary;
}

.bg-red {
    background-color: red;
}

.border-bottom {
    border-bottom: 2px solid $primary;
    padding-bottom: 5px;
}

.btn-default {
    background-color: $primary;
}

.bg-grey {
    background-color: #dedede;
}

.bg-green {
    background-color: green;
}

.color-red {
    color: red;
}

.bg-yellow {
    background-color: yellow;
}

.section-padding {
    padding: 60px 0;
    min-height: 409px;
}

.disabled {
    pointer-events: none !important;
    cursor: not-allowed;
}

.btn.btn-floating {
    background: #c5c8cd;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 0;
    min-width: 30px;
}

.page-header {
    padding: 50px 0;
    h1 {
        font-family: 'Satisfy', cursive;
        text-align: center;
        font-size: 3.5em;
        color: #fff;
    }
}

// Tabs
.tabs-container {
    margin: auto;
    ul {
        list-style: none;
        display: flex;
        max-width: calc(100% + 40px);
        flex-direction: row;
        flex-wrap: nowrap;
        overflow-y: auto;
        position: relative;
        margin: 0;
        padding: 0;
        background: #4b473f;
        span {
            display: flex;
        }
        li {
            padding: 8px 5px;
            display: inline-block;
            text-align: center;
            cursor: pointer;
            color: #fff;
            &.prev {
                position: absolute;
                width: 20px;
                left: 0;
                min-width: 20px;
                background-color: #4b473f;
                color: #fff;
                box-shadow: 0 0 22px rgba(0, 0, 0, 0.5);
                cursor: pointer;
            }
            &.next {
                @extend .prev;
                left: inherit;
                right: 0;
                cursor: pointer;
            }
            &.active {
                color: #faaa02;
                border-bottom: 3px solid #faaa02;
                height: 40px;
            }
            &.add-step {
                position: absolute;
                right: 0;
                min-width: 10px;
                width: 30px;
            }
        }
    }
}

.page-content-header {
    padding: 0;
    .back-btn {
        color: #fff;
        a {
            color: #fff;
            font-size: 40px;
            padding: 0px 20px 0 10px;
            display: inline-block;
            margin-right: 5px;
            &:hover {
                color: #fff;
            }
        }
    }
    .header-title {
        color: #fff;
        font-size: 20px;
        width: 100%;
        .add-article-btn {
            float: right;
            margin-right: 15px;
        }
    }
}

.bg-login {
    background-image: url(#{$imgPath}/login-bg.jpg);
    background-position: center center;
}

// btn-primary
.btn-primary {
    background-color: $secondary;
    &:hover {
        background-color: #4e4b45 !important;
    }
    &:focus {
        background-color: #403c36 !important;
    }
}

.navbar {
    box-shadow: none;
    &.navbar-light {
        logo {
            @include respond-to($tablet-portrait) {
                max-width: 80%;
            }
            img {
                @include respond-to($tablet-portrait) {
                    max-width: 80%;
                }
            }
        }
        .navbar-toggler-icon {
            height: auto;
        }
        .navbar-nav {
            align-items: center;
            .nav-item {
                margin-right: 10px;
                .nav-link {
                    color: $navLink;
                    text-transform: uppercase;
                    font-family: 'Cairo', sans-serif;
                    font-weight: 600;
                    &:hover {
                        color: $primary;
                    }
                }
                &:last-child {
                    margin: 0;
                }
            }
        }
    }
    .navbar-collapse {
        .language-option {
            position: relative;
            &.show {
                .dropdown-menu {
                    top: 14px !important;
                }
            }
            .dropdown-toggle {
                &:after {
                    display: none;
                }
            }
        }
        links {
            flex-direction: column;
            align-items: flex-end;
            .header-btn {
                list-style: none;
                margin-bottom: 0;
                @include respond-to($tablet-portrait) {
                    padding: 0;
                }
                li {
                    display: inline-block;
                }
                .btn {
                    padding: 0.5rem 2.13rem;
                    &:not(:disabled):not(.disabled):active:focus {
                        box-shadow: none;
                    }
                }
            }
        }
    }
}

.language-option {
    position: relative;
    &.show {
        .dropdown-menu {
            top: 14px !important;
        }
    }
    .dropdown-toggle {
        &:after {
            display: none;
        }
    }
}

.banner-container {
    background-image: url(#{$imgPath}/banner-bg.jpg);
    color: #fff;
    min-height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    h1 {
        font-family: 'Satisfy', cursive;
        text-align: center;
        font-size: 5.000em;
        @include respond-to($tablet-portrait) {
            font-size: 4em;
        }
    }
    p {
        font-family: 'Montserrat', sans-serif;
        font-size: 2.250em;
    }
    a {
        text-transform: uppercase;
        padding: 26px 65px;
        display: inline-block;
        background-color: $primary;
        color: #fff;
        font-size: 1.250em;
        font-family: 'Montserrat', sans-serif;
    }
    .reservation-form {
        position: fixed;
        width: 0px;
        height: 0px;
        z-index: 99;
        background-color: rgba(255, 255, 255, 0.8);
        transition: all .5s ease-out;
        top: -100%;
        &.show {
            visibility: visible;
            display: flex;
            justify-content: center;
            align-items: center;
            transform: scale(1, 1);
            width: 100%;
            height: 100%;
            top: 0;
        }
        &.hide {
            top: -100%;
            transform: scale(0, 0);
        }
        .form-close-btn {
            position: absolute;
            right: 10px;
            background: no-repeat;
            border: none;
            font-size: 35px;
            top: 10px;
            cursor: pointer;
        }
        .reservation-form-filed {
            background-color: #fff;
            padding: 20px;
            border-radius: 10px;
            .mat-icon {
                color: #333;
            }
        }
    }
}

.about-container {
    padding: 30px 0;
    img {
        max-width: 100%;
    }
}

.menu-container {
    padding-bottom: 30px;
    .drinks-container {
        min-height: 700px;
        display: flex;
        background-position: center center;
        position: relative;
        overflow: hidden;
        &:before {
            content: "";
            background-color: rgba(0, 0, 0, 0.2);
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 0;
        }
        a {
            align-self: flex-end;
            width: 100%;
            background-color: #fcab00;
            padding: 30px;
            .hover-effect {
                height: 100%;
                left: 0px;
                position: absolute;
                top: 0px;
                width: 100%;
                overflow: hidden;
                &:before,
                &:after {
                    content: "";
                    position: absolute;
                    left: 0px;
                    right: 0px;
                    bottom: 0px;
                    top: 0px;
                    width: 100%;
                    height: 100%;
                    opacity: 0;
                    z-index: 5;
                    transition: 0.5s;
                }
                &:before {
                    background: rgba(255, 132, 0, 0.2);
                }
                &:after {
                    background: rgba(255, 132, 0, 0.2);
                }
            }
            &:hover {
                .hover-effect:before {
                    opacity: 1;
                    transform: translate(0%, 0%);
                }
                .hover-effect:after {
                    opacity: 1;
                    transform: translate(100%, 100%);
                }
            }
            .title {
                position: relative;
                z-index: 15;
                color: #fff;
                font-size: 1.3rem;
                text-transform: uppercase;
                text-align: center;
                font-weight: 600;
                font-family: 'Montserrat', sans-serif;
                &:after {
                    content: "";
                    position: absolute;
                    height: 135px;
                    width: 200%;
                    bottom: -63px;
                    left: -50px;
                    z-index: -1;
                    background-color: $primary;
                }
            }
        }
        &.drink-bg {
            background-image: url(#{$imgPath}/drinks.jpg);
        }
        &.lunch-bg {
            background-image: url(#{$imgPath}/lunch.jpg);
        }
        &.starter-bg {
            background-image: url(#{$imgPath}/starter.jpg);
        }
    }
}

.testimonial-container {
    padding: 0 0 30px;
    .testimonial {
        i {
            font-size: 40px;
            color: $primary;
        }
        p {
            margin-top: 20px;
            line-height: 26px;
        }
        .name-contianer {
            h2 {
                font-size: 18px;
            }
            p {
                font-size: 14px;
                color: #bdbdbd;
            }
        }
    }
}

footer {
    background-color: $secondary;
    .footer-col {
        color: #fff;
        font-size: 14px;
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            li {
                margin-bottom: 10px;
                i {
                    color: $primary;
                    margin-right: 5px;
                }
                a {
                    color: #fff;
                }
            }
        }
    }
    .footer-bottom {
        padding: 10px 0;
        background-color: #33312b;
        color: #fff;
        font-size: 14px;
    }
}

// Login 
.login-form {
    max-width: 28rem;
    width: 100%;
    margin: auto;
}

// After Login
.login-header {
    background-color: #757473;
    position: fixed;
    z-index: 904;
    width: 100%;
    top: 0;
    padding: 0.1rem 1rem;
    box-shadow: 2px 0 3px rgba(0, 0, 0, .5);
    .navbar-brand {
        img {
            max-width: 150px;
        }
    }
    .container {
        max-width: 100% !important;
        .dropdown {
            img {
                width: 50px;
            }
            .dropdown-menu {
                left: -100% !important;
                top: 15px !important;
                a {
                    &:hover {
                        color: #333 !important;
                    }
                }
            }
        }
    }
}

header {
    display: flex;
    align-items: center;
    padding: 0px 0;
    background-color: #4b473f;
    position: fixed;
    width: 100%;
    top: 0;
    height: 50px;
    z-index: 6;
    .menu-btn {
        font-size: 26px;
        color: #fff;
        padding: 10px 10px 10px 20px;
        cursor: pointer;
        margin-right: 20px;
    }
    .logo {
        width: 100%;
        img {
            max-width: 146px;
        }
    }
    .language-option {
        width: 86px;
        span {
            color: #fff;
        }
        .dropdown-toggle {
            &:after {
                display: none;
            }
        }
    }
}

// Sidebar
.sidebar {
    max-width: 250px;
    margin-left: - 260px;
    background: #757473;
    position: fixed;
    left: 0;
    top: 50px;
    width: 100%;
    height: 100%;
    z-index: 100;
    transition: 0.3s ease-in-out;
    &.sidebartoggle {
        margin-left: 0;
    }
    .sidebar-user-detail {
        text-align: center;
        padding: 20px 0 0;
        border-bottom: 1px solid #f9aa02;
        margin: 0 20px 20px;
        img {
            width: 64px;
            height: 64px;
            border-radius: 50%;
        }
        p {
            color: #fff;
            margin: 10px 0 10px;
        }
    }
    .sidebar-nav {
        margin-top: 20px;
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            li {
                display: block;
                line-height: 42px;
                a {
                    display: flex;
                    padding-left: 18px;
                    color: #fff;
                    font-size: 15px;
                    align-items: center;
                    i {
                        margin-right: 10px;
                    }
                    &:hover {
                        background-color: rgba(0, 0, 0, .2);
                    }
                }
            }
        }
    }
}

// Page-content
.page-content {
    position: relative;
    top: 50px;
}

// Waiter Dashboard
.room-container {
    padding: 0 20px;
    margin-top: 10px;
    .room-name {
        font-size: 20px;
        font-weight: bold;
    }
    .room {
        margin: 0 3px 3px 0;
        background-color: $secondary;
        max-width: 90px;
        width: 100%;
        height: 90px;
        padding: 10px;
        cursor: pointer;
        .table {
            max-width: 70px;
            width: 100%;
            height: 70px;
            border-radius: 100%;
            background-color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #333;
        }
    }
}

.search-category {
    position: fixed;
    bottom: 0;
    left: 0;
    border-top: 1px solid #dedede;
    z-index: 1;
    background-color: #fff;
    .form-control,
    .completer-input {
        padding-left: 10px !important;
        padding-right: 10px !important;
        margin-bottom: 0 !important;
        border-bottom: 0;
    }
    ng2-completer {
        width: 100%;
        .completer-input {
            padding: 0;
            padding-bottom: 0.6rem;
            padding-top: 0.5rem;
            font-size: 1rem;
            line-height: 1.5;
            background-color: transparent;
            background-image: none;
            border-radius: 0;
            margin-top: 0.2rem;
            margin-bottom: 1rem;
        }
    }
    .btn-default {
        padding: 10px 15px;
    }
    .btn-cart {
        position: absolute;
        right: 16px;
        top: 10px;
        background-color: #266abd;
        border: none;
        color: #fff;
        border-radius: 3px;
        height: 30px;
        text-align: left;
        font-size: 12px;
        cursor: pointer;
    }
}

.stepper-form {
    overflow: hidden;
    padding: 0 20px;
    margin-top: 10px; // Create Order
    .label-container {
        img {
            max-width: 30px;
        }
        i {
            font-size: 22px;
            color: $primary;
        }
        i,
        img {
            margin-right: 5px;
        }
        .label-yellow {
            background-color: $primary;
            color: #fff;
            padding: 2px 7px;
            border-radius: 2px;
        }
    }
    .slideright {
        transform: none;
        visibility: visible;
    }
    .slideleft {
        transform: translate3d(-100%, 0px, 0px);
        visibility: hidden;
        height: 0;
    } // Item
}

.order-list-container {
    padding: 0 20px;
    margin-top: 10px;
}

.order-list {
    margin-bottom: 10px;
    .opacity {
        opacity: 0.5;
    }
    .order-number {
        font-size: 12px;
    }
    .order-items-container {
        margin-bottom: 10px;
        padding-top: 5px;
        border-top: 3px solid #fcab00;
        .order-item {
            display: flex;
            padding: 5px 10px;
            align-items: center;
            position: relative;
            padding-top: 26px;
            border-bottom: 1px solid #dedede;
            .order-item-img {
                width: 70px;
            }
            .order-item-detail {
                width: 100%;
                margin-right: 10px;
                ul {
                    margin: 0;
                    padding: 0;
                    list-style: none;
                    li {
                        display: block;
                        font-size: 12px;
                    }
                }
            }
            .order-quantity {
                width: 75px;
                text-align: right;
            }
        }
        h4 {
            font-size: 14px;
            padding: 8px 10px;
            background-color: #dedede;
        }
        table.table thead th {
            border-top: none;
            padding-top: 0;
            padding-bottom: 5px;
        }
        @include respond-to($phone-md-min) {
            height: 266px;
            overflow-y: auto;
        }
    }
    .card-title {
        font-size: 18px;
        border-bottom: 1px solid #fcab00;
        padding: 0 0 13px;
        display: flex;
        justify-content: space-between;
        img {
            width: 30px;
        }
        span {
            font-weight: bold;
        }
        .status {
            display: inline-block;
            padding: 5px 5px;
            color: #fff;
            font-size: 12px;
            border-radius: 3px;
            background-color: $primary;
        }
    }
    .card-text {
        display: flex;
        justify-content: space-between;
        align-items: center;
        p {
            img {
                max-width: 24px;
            } // span {
            //     background-color: #fcab00;
            //     color: #fff;
            //     display: inline-block;
            //     padding: 2px 5px;
            // }
        }
    }
    .btn-container {
        .btn {
            padding: 5px;
            margin: 0;
        }
    }
}

.category-list {
    transition: 0.3s;
    margin-bottom: 60px;
    padding: 0 10px;
    margin-top: 10px;
    .category {
        max-width: 135px;
        position: relative;
        margin-bottom: 10px;
        margin-right: 5px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 135px;
        .icon-img {
            max-width: 40%;
        }
        img {
            max-width: 100%;
        }
        .name {
            position: absolute;
            bottom: 0;
            width: 100%;
            background-color: rgba(0, 0, 0, .2);
            padding: 5px 0;
            margin: 0;
            text-align: center;
            color: #fff;
        }
    }
}

.item-container {
    transition: 0.3s;
    padding: 0 10px;
    margin-top: 10px;
    .item-list {
        display: flex;
        margin-top: 10px;
        .item {
            max-width: 50px;
            position: relative;
            border-radius: 50%;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            min-width: 50px;
            .item-quantity {
                position: absolute;
                top: -7px;
                right: -6px;
                background-color: red;
                border-radius: 50%;
                width: 20px;
                height: 20px;
                color: #fff;
                font-size: 11px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .icon-img {
                max-width: 30px !important;
                border-radius: 0 !important
            }
            img {
                max-width: 50px;
                border-radius: 50%
            }
        }
        .item-name {
            width: 100%;
            margin-left: 20px;
            .name {
                font-weight: bold;
            }
            .added-variand-name {
                font-size: 12px;
            }
        }
        .input-prepend-append {
            max-width: 35%;
            display: flex;
            align-items: center;
            .btn-prepend,
            .btn-append {
                max-width: 30px;
                padding: 10px 10px;
                border-radius: 50%;
                background-color: #daa22f;
                width: 100%;
                height: 30px;
                font-size: 13px;
                display: flex;
                i {
                    line-height: 0;
                }
            }
        }
        .add-cart {
            padding: 10px 15px;
        }
    }
    .view-cart-container {
        position: fixed;
        min-height: 70px;
        max-height: 148px;
        bottom: 0;
        width: 100%;
        background-color: #fff;
        box-shadow: 0 -2px 6px 0 rgba(0, 0, 0, .1);
        box-sizing: border-box;
        z-index: 9;
        left: 0;
        .checkout {
            padding: 12px;
            a {
                padding: 16px 20px;
                text-align: left;
                display: block;
                background-color: green;
                color: #fff;
            }
        }
    }
}

.varient-container {
    position: fixed;
    bottom: -100%;
    transition: 0.3s ease-in-out;
    z-index: 6;
    width: 100%;
    height: 100%;
    background: #fff;
    &.show-varient {
        bottom: 0;
    }
    .varient-content {
        padding: 0 20px;
        margin-top: 10px;
        h1 {
            font-size: 15px;
        }
        .add-varient-btn {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background: #4b473f;
            border: none;
            color: #fff;
            &.variant-added {
                background-color: green;
            }
            &.variant-remove {
                background-color: red;
            }
        }
        .input-quantity-container {
            margin-bottom: 15px;
            .input-prepend-append {
                border: 1px solid #dedede;
                border-radius: 5px;
                button {
                    background-color: transparent;
                    border: none;
                    height: 40px;
                    width: 113px;
                    i {
                        color: $primary;
                    }
                }
                .input-value {
                    width: 100%;
                    padding: 8px 0;
                }
            }
        }
    }
    .modal-header {
        padding: 15px 0;
        .back-btn {
            padding: 0 10px;
        }
        .header-title {
            width: 100%;
            text-align: center;
            button {
                float: right;
                margin-right: 10px;
                background-color: #3fb34f;
                border: none;
                border-radius: 5px;
                color: #fff;
            }
        }
    }
}

.tabs-btn {
    display: flex;
    button {
        width: 50%;
        border: none;
        margin: 0;
        padding: 10px 0;
        &.active {
            background-color: #4b473f;
            color: #fff;
        }
    }
}

.steps-container {
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        background-color: #4b473f;
        padding-right: 35px;
        li {
            display: inline-block;
            color: #fff;
            &.active {
                color: #fbab0e;
                background-color: transparent;
            }
        }
    }
}

.profile-container {
    margin-top: 10px;
    label.cabinet {
        width: 79px;
        background: $primary;
        display: block;
        overflow: hidden;
        cursor: pointer;
        input.file {
            position: relative;
            height: 100%;
            width: auto;
            opacity: 0;
            -moz-opacity: 0;
            display: none;
            filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
        }
    }
}

.add-article {
    @extend .varient-container;
    &.showarticle {
        @extend .show-varient;
    }
}

.change-password-container {
    margin-top: 10px;
}

.md-form {
    &.search {
        margin: 0;
        i.prefix {
            color: #dedede;
            font-size: 21px;
            top: 16px;
            left: 11px;
            width: 40px;
            ~input {
                max-width: 196px;
            }
        }
    }
}

.subcategory-tabs {
    li {
        &.subcategory-active {
            border-bottom: 2px solid #fff;
        }
    }
}

.item-status {
    display: inline-block;
    margin-bottom: .5rem;
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 12px;
    background-color: green;
    color: #fff;
    padding: 1px 5px;
    border-radius: 3px;
}

.step-listing {
    background-color: $secondary;
    ul {
        padding: 0;
        list-style: none;
        margin: 0;
        li {
            display: inline-block;
            padding: 0 5px;
            color: #fff;
            cursor: pointer;
            &.active {
                color: $primary;
            }
            &.completed {
                text-decoration: line-through;
            }
        }
    }
}

.cart-bottom-fixed {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    .total-amount {
        text-align: right;
        padding: 0 10px;
    }
    .order-btn {
        width: 100%;
        background-color: #3fb34f;
        border: none;
        color: #fff;
        padding: 15px 0;
        cursor: pointer;
    }
    .cart-menu-btn {
        button {
            margin: 0;
            width: 100%;
        }
    }
}

.order-call-btn {
    position: relative;
    width: 100%;
    .department-name {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin-right: 5px;
        &:last-child{
            margin-right: 0;
        }
    }
    .department-checkbtn-container{
        margin-bottom: 10px;
        position: relative;
        padding-left: 52px;
        .department-checkbtn{
            width: 40px;
            height: 40px;
            border-radius: 50%;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            margin-right: 5px;
            position: absolute;
            left: 5px;
            top: -5px;
        }
    }
    
    button {
        width: 100%;
        background: #00b900;
        color: #fff;
        border: none;
        cursor: pointer;
        padding: 10px 0;
        span {
            z-index: 10;
            position: relative;
        }
    }
    .running-label {
        width: 100%;
        background: #00b900;
        color: #fff;
        border: none;
        cursor: pointer;
        padding: 10px 0;
        display: block;
        text-align: center;
        .running {
            z-index: 10;
            position: relative;
        }
    }
    .progress-btn {
        position: absolute;
        height: 100%;
        top: 0;
        color: #fff;
        z-index: 9;
        background: #008000;
    }
}
