<header class="page-content-header">
    <div class="back-btn">
        <a routerLink="/waiter/order/:id/choose-category">
            <i class="fas fa-angle-left"></i>
        </a>
    </div>
    <div class="header-title">
       {{orderService.getOrderData().selectedCategory.name}}
    </div>
</header>
<div class="page-content">
    <div class="item-container">
        <div class="d-flex align-items-center justify-content-between search-category w-100">
            <input class="form-control" [(ngModel)]="searchText" type="text" placeholder="Search Item" />
            <ng2-completer [(ngModel)]="searchStr" class="form-control" [datasource]="dataService" [minSearchLength]="0" (selected)="onSelected($event)"
                placeholder="Search Category"></ng2-completer>            
        </div>        
        <div class="alert-danger" *ngIf="error">{{errorMsg}}</div>
        <div class="item-list align-items-center" *ngFor="let article of articles | filter : searchText ; let i = index">
            <div class="item" [ngStyle]="{'background-color': article.category.color}">
                <img *ngIf="!article.logo.small && article.category.isIcon" class="icon-img" [src]="article.category.icon" alt="" />
                <img *ngIf="!article.logo.small && !article.category.isIcon && article.category.logo.small" [src]="article.category.logo.small"
                    alt="Category Logo" />
                <img *ngIf="article.logo.small" [src]="article.logo.small" alt="Item Logo" />
                <p class="name">{{article.name}}</p>
            <span *ngIf="article.quantity>0">{{article.quantity}}</span>                            
            </div>
            <div class="input-prepend-append">
                <button type="button" class="btn btn-prepend btn-danger" id="decrease" (click)="decreaseValue(article,i)" value="Decrease Value">
                - </button>
                <label><span>{{article.quantity}}</span></label>
                <!-- <input type="number" value="0" min="0" [(ngModel)]="quantity[i]" id="number"> -->
                <button type="button" class="btn btn-append btn-success" id="increase" (click)="increaseValue(article,i)" value="Increase Value">
                + </button>
            </div>
            <button type="submit" class="btn btn-brown add-cart" (click)="addToCart(article,quantity[i],i)">
                <i class="fas fa-cart-plus"></i>
            </button>
        </div>
    </div>
</div>
