<header class="page-content-header">
    <div class="back-btn">
        <a routerLink="/waiter/order/:id/choose-category">
            <i class="fas fa-angle-left"></i>
        </a>
    </div>
    <div class="header-title" *ngIf="orderService.getOrderData().selectedCategory">
        {{orderService.getOrderData().selectedCategory.name}}
    </div>
    <div class="subcategory-container">
        <div class="tabs-container">
            <ul>
                <li class="prev">
                  <i class="fas fa-chevron-left"></i>
                </li>
                <li *ngFor="let room of roomData">
                    {{room.name}}
                </li>
                <li class="next">
                  <i class="fas fa-chevron-right"></i>
                </li>
              </ul>
        </div>
    </div>
</header>
<div class="page-content">
    <div class="item-container">
        <div class="search-category w-100">
            <input class="form-control" [(ngModel)]="searchText" type="text" placeholder="Search Item" />
            <button type="button" class="btn-cart" (click)="viewCart()"><i class="fas fa-shopping-cart"></i></button>
            <!-- <ng2-completer [(ngModel)]="searchStr" class="form-control" [datasource]="dataService" [minSearchLength]="0" (selected)="onSelected($event)"
                placeholder="Search Category"></ng2-completer> -->
        </div>
        <div class="alert-danger" *ngIf="error">{{errorMsg}}</div>
        <div *ngIf="articles.length">
        <div class="item-list align-items-center" *ngFor="let article of articles | filter : searchText ; let i = index">
            <div class="item" [ngStyle]="{'background-color': article.category.color}">
                <img *ngIf="!article.logo.small && article.category.isIcon" class="icon-img" [src]="article.category.icon" alt="" />
                <img *ngIf="!article.logo.small && !article.category.isIcon && article.category.logo.small" [src]="article.category.logo.small"
                    alt="Category Logo" />
                <img *ngIf="article.logo.small" [src]="article.logo.small" alt="Item Logo" />
                <span class="item-quantity" *ngIf="article.quantity>0">{{article.quantity}}</span>
            </div>
            <div class="item-name">
                <p class="name m-0">{{article.name}}</p>
                <p class="name m-0">&euro; {{article.price}}</p>
            </div>
            <div class="input-prepend-append">
                <button type="button" class="btn btn-prepend btn-danger" id="decrease" (click)="decreaseValue(article)" value="Decrease Value">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-append btn-success" id="increase" (click)="increaseValue(article)" value="Increase Value">
                    <i class="fas fa-plus"></i>
                </button>
            </div>
            <button type="submit" class="btn-floating waves-light" (click)="viewVarient()">
                <i class="fas fa-pencil-alt"></i>
            </button>
        </div>
        </div>
    </div>
</div>


<div class="varient-container" [class.show-varient]="showVarient">
    <div>
        <div class="back-btn">
            <a (click)="hideVarient()">
                <i class="fas fa-times"></i>
            </a>
        </div>
        <div class="header-title" *ngIf="orderService.getOrderData().selectedCategory">
            Choose Varient
        </div>       
    </div>
    <div class="varient-content">
        <div class="varient-list">
            <table>
                <tbody>
                    <tr *ngFor="let varient of variantList">
                        <td>{{varient.name}}</td>
                        <td>{{varient.price}}</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
